<form name="newCertificateForm" #ncf="ngForm" novalidate (ngSubmit)="createCertificate()">
    <div class="row holder">
    <div class="col-12 header">New Certificate</div>
        <div class="form-holder col-12 row">
            <div class="input-holder d-flex align-items-center col-6" [ngClass]="{blurred : activeInput != 0, focused : activeInput == 0 || !isEmpty(0)}">
                <p class="input-text-value">Common Name</p>
                <input type="text" class="input-styled" (blur)="blurInput($event, 0)" (focus)="focusInput($event, 0)"
                    [(ngModel)]="certificateAuthority.certificateDto.commonName" name="commonName"
                    #commonName="ngModel" required>
                <small class="text-danger" *ngIf="(commonName.touched || ncf.submitted) && commonName.errors?.required">
                    Common name is required
                </small>
            </div>
            <div class="input-holder d-flex align-items-center col-6" [ngClass]="{blurred : activeInput != 1, focused : activeInput == 1 || !isEmpty(1)}">
                <p class="input-text-value blurred">Given Name</p>
                <input type="text" class="input-styled" (blur)="blurInput($event, 1)" (focus)="focusInput($event, 1)"
                    [(ngModel)]="certificateAuthority.certificateDto.givenName" name="givenName"
                    #givenName="ngModel" required>
                <small class="text-danger" *ngIf="(givenName.touched || ncf.submitted) && givenName.errors?.required">
                    Given name is required
                </small>
            </div>
            <div class="input-holder d-flex align-items-center col-6" [ngClass]="{blurred : activeInput != 2, focused : activeInput == 2 || !isEmpty(2)}">
                <p class="input-text-value blurred">Surname</p>
                <input type="text" class="input-styled" (blur)="blurInput($event, 2)" (focus)="focusInput($event, 2)"
                    [(ngModel)]="certificateAuthority.certificateDto.surname" name="surname" 
                    #surname="ngModel" required>
                <small class="text-danger" *ngIf="(surname.touched || ncf.submitted) && surname.errors?.required">
                    Surname name is required
                </small>
            </div>
            <div class="input-holder d-flex align-items-center col-6" [ngClass]="{blurred : activeInput != 3, focused : activeInput == 3 || !isEmpty(3)}">
                <p class="input-text-value blurred">Organisation</p>
                <input type="text" class="input-styled" (blur)="blurInput($event, 3)" (focus)="focusInput($event, 3)"
                    [(ngModel)]="certificateAuthority.certificateDto.organisation" name="organisation"
                    #organisation="ngModel" required>
                <small class="text-danger" *ngIf="(organisation.touched || ncf.submitted) && organisation.errors?.required">
                    Organisation name is required
                </small>
            </div>
            <div class="input-holder d-flex align-items-center col-6" [ngClass]="{blurred : activeInput != 4, focused : activeInput == 4 || !isEmpty(4)}">
                <p class="input-text-value blurred">Organisation Unit</p>
                <input type="text" class="input-styled" (blur)="blurInput($event, 4)" (focus)="focusInput($event, 4)"
                    [(ngModel)]="certificateAuthority.certificateDto.organisationUnit"  name="organisationUnit"
                    #organisationUnit="ngModel" required>
                <small class="text-danger" *ngIf="(organisationUnit.touched || ncf.submitted) && organisationUnit.errors?.required">
                    Organisation unit is required
                </small>
            </div>
            <div class="input-holder d-flex align-items-center col-6" [ngClass]="{blurred : activeInput != 5, focused : activeInput == 5 || !isEmpty(5)}">
                <p class="input-text-value blurred">Country</p>
                <input type="text" class="input-styled" (blur)="blurInput($event, 5)" (focus)="focusInput($event, 5)" 
                    [(ngModel)]="certificateAuthority.certificateDto.country" name="country"
                    #country="ngModel" required>
                <small class="text-danger" *ngIf="(country.touched || ncf.submitted) && country.errors?.required">
                    Country is required
                </small>
            </div>
            <div class="input-holder d-flex align-items-center col-12" [ngClass]="{blurred : activeInput != 6, focused : activeInput == 6 || !isEmpty(6)}">
                <p class="input-text-value blurred">Email</p>
                <input type="text" class="input-styled" (blur)="blurInput($event, 6)" (focus)="focusInput($event, 6)"
                    [(ngModel)]="certificateAuthority.certificateDto.email" name="email"
                    #email="ngModel" required>

                <small class="text-danger" *ngIf="(email.touched || ncf.submitted) && email.errors?.required">
                    Email is required
                </small>
            </div>
            <div class="input-holder d-flex align-items-center col-6" [ngClass]="{blurred : activeInput != 7, focused : activeInput == 7 || !isEmpty(7)}">
                <p class="input-text-value blurred">Valid from</p>
                <input type="text" class="input-styled" (blur)="blurInput($event, 7)" (focus)="focusInput($event, 7)"
                    [(ngModel)]="certificateAuthority.certificateDto.validFrom" name="validFrom"
                    #validFrom="ngModel" required>
                <small class="text-danger" *ngIf="(validFrom.touched || ncf.submitted) && validFrom.errors?.required">
                    Valid from is required
                </small>

                <div class="date-holder" *ngIf="activeInput == 7">
                    <dl-date-time-picker
                        name="validFrom"
                        startView="day"
                        maxView="day"
                        minView="day"
                        [selectFilter]="futureDatesOnly"
                        [(ngModel)]="validFromDate">
                    </dl-date-time-picker>
                </div>

            </div>

            <div class="input-holder col-3">
                <div class="centered-content">
                    <p> Valid for: </p>
                    <br/>
                    <div [ngClass]="certificateAuthority.caType == '0' ? ['custom-control','custom-radio','disabled-holder'] : ['custom-control', 'custom-radio']">
                        <input type="radio" id="sixMonthsBtn" name="validityRadioBtn" class="custom-control-input"
                            [value]="6" [(ngModel)]="certificateAuthority.certificateDto.validityInMonths"
                            #validity>
                        <label class="custom-control-label" for="sixMonthsBtn">
                            6 months
                        </label>
                    </div>
                    <br/>
                    <div [ngClass]="certificateAuthority.caType == '0' ? ['custom-control','custom-radio','disabled-holder'] : ['custom-control', 'custom-radio']">
                        <input type="radio" id="oneYearBtn" name="validityRadioBtn" class="custom-control-input"
                            [value]="12" [(ngModel)]="certificateAuthority.certificateDto.validityInMonths">
                        <label class="custom-control-label" for="oneYearBtn">
                            1 year
                        </label>
                    </div>
                    <br/>
                    <div [ngClass]="certificateAuthority.caType == '0' ? ['custom-control','custom-radio','disabled-holder'] : ['custom-control', 'custom-radio']">
                        <input type="radio" id="twoYearsBtn" name="validityRadioBtn" class="custom-control-input"
                            [value]="24" [(ngModel)]="certificateAuthority.certificateDto.validityInMonths">
                        <label class="custom-control-label" for="twoYearsBtn">
                            2 years
                        </label>
                    </div>
                    <br/>
                    <div [ngClass]="certificateAuthority.caType != '0' ? ['custom-control','custom-radio','disabled-holder'] : ['custom-control', 'custom-radio']">
                        <input type="radio" id="fiveYearsBtn" name="validityRadioBtn" class="custom-control-input"
                            [value]="72" [(ngModel)]="certificateAuthority.certificateDto.validityInMonths">
                        <label class="custom-control-label" for="fiveYearsBtn">
                            5 years
                        </label>
                    </div>
                    <br/>
                    <div [ngClass]="certificateAuthority.caType != '0' ? ['custom-control','custom-radio','disabled-holder'] : ['custom-control', 'custom-radio']">
                        <input type="radio" id="tenYearsBtn" name="validityRadioBtn" class="custom-control-input"
                            [value]="120" [(ngModel)]="certificateAuthority.certificateDto.validityInMonths">
                        <label class="custom-control-label" for="tenYearsBtn">
                            10 years
                        </label>
                    </div>
                </div>
            </div>
            <div class="section-info col-12">Extensions</div>
            <div class="col-6">
                <p> Key usage: </p>
                <select class="custom-select">
                    <option value="" selected disabled hidden>Key usage</option>
                    <option value="digital-signature">Digital signature</option>
                    <option value="key-encipherment"> Key encipherment</option>
                </select>
            </div>
            <div class="col-6">
                <p> Certificate authority type: </p>
                <select class="custom-select" name="caType" [(ngModel)]="certificateAuthority.caType"
                    (change)="caTypeChanged($event)">
                    <option value="0">Root</option>
                    <option value="1">Siem agent issuer</option>
                    <option value="2">Siem center issuer</option>
                </select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <button class="wide-btn btn btn-dark">
                Create
                <span *ngIf="submitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> 
            </button>
        </div>
    </div>

</form>
