<div class="row holder">
    <div class="col-12 header">New Certificate</div>
    <div class="form-holder col-12 row">
        <div class="section-info col-12">Subject data</div>
        <div class="input-holder col-6">
            <p class="input-text-value blurred">Common Name</p>
            <input type="text" class="input-styled" (blur)="blurInput($event)" (focus)="focusInput($event)" value="">
        </div>
        <div class="input-holder col-6">
            <p class="input-text-value blurred">Given Name</p>
            <input type="text" class="input-styled" (blur)="blurInput($event)" (focus)="focusInput($event)" value="">
        </div>
        <div class="input-holder col-6">
            <p class="input-text-value blurred">Surname</p>
            <input type="text" class="input-styled" (blur)="blurInput($event)" (focus)="focusInput($event)" value="">
        </div>
        <div class="input-holder col-6">
            <p class="input-text-value blurred">Organisation</p>
            <input type="text" class="input-styled" (blur)="blurInput($event)" (focus)="focusInput($event)" value="">
        </div>
        <div class="input-holder col-6">
            <p class="input-text-value blurred">Organisation Unit</p>
            <input type="text" class="input-styled" (blur)="blurInput($event)" (focus)="focusInput($event)" value="">
        </div>
        <div class="input-holder col-6">
            <p class="input-text-value blurred">Country</p>
            <input type="text" class="input-styled" (blur)="blurInput($event)" (focus)="focusInput($event)" value="">
        </div>
        <div class="input-holder col-6">
            <p class="input-text-value blurred">Email</p>
            <input type="text" class="input-styled" (blur)="blurInput($event)" (focus)="focusInput($event)" value="">
        </div>
        <div class="input-holder col-6"></div>
        <div class="section-info col-12">Time data</div>
        <div class="input-holder col-6">
            <p class="input-text-value blurred">Valid from</p>
            <input type="text" class="input-styled" (blur)="blurInput($event)" (focus)="focusInput($event)" value="">
        </div>
        <div class="input-holder col-6">
            <p class="input-text-value blurred">Valid until</p>
            <input type="text" class="input-styled" (blur)="blurInput($event)" (focus)="focusInput($event)" value="">
        </div>
    </div>
</div>
